
#vscode directory
**/.vscode

#all files ends with csv
*.csv
*.csv#

data/*

#all files ends with png
*.png

#crawl data
source/Crawler/android_market/crawl/

**/__pycache__

**/.ipynb_checkpoints/


source/PermissionDescriptionFidelity/Untitled.ipynb
