
#vscode directory
**/.vscode

#all files ends with csv

*.csv#
*.xls#
*.bin
#*.txt

#*.ipynb
*.csv
#*.xls

#all files ends with png
*.png

#all log files
*.log

#crawl data
source/Crawler/android_market/crawl/

**/__pycache__

**/.ipynb_checkpoints/

**/output/*

data/
*.out
*.txt
*.png
