
#vscode directory
**/.vscode

#all files ends with csv

*.csv#
*.xls#
*.bin
#*.txt

*.ipynb
*.csv
#*.xls

#all files ends with png
*.png

#all log files
*.log

#crawl data
source/Crawler/android_market/crawl/

**/__pycache__

**/.ipynb_checkpoints/

data/autocog/
#/data/saved_parameters/
source/PermissionDescriptionFidelity/Untitled.ipynb

data/models/en_ewt_models/en_ewt_parser.pt
data/models/en_ewt_models/en_ewt.pretrain.pt
data/cc.en.300.bin
data/big_processed/apps.csv
source/Crawler/android_market/apps.csv
